*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 800px;
}

.container-sm{
    margin: 0 auto;
    max-width: 670px;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

/* header */

.justify-between{
    justify-content:space-between
}

.col-logo {
    width: 100px;
}

.col-link{
    margin-right: 30px;
    font-size: 12px;
}

.col,.col-link, .main-page-title, .title-info {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFF;
}

.col-login{
    background-color: #FFFFFF;
    color: black;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 7px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}


/* main */

.hero {
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 720px;
}

.main-page-title{
    margin-top: 134px;
    font-size: 40px;
    font-weight: 800;
}

.hero p{
    margin-top: 40px;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
}

.col-12{
	flex-basis: calc((100% / 12) * 12);
    text-align: center;
}

.col-8{
    flex-basis: calc((100% / 12) * 8);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.row-reverse {
    flex-direction: row-reverse;
}

/* footer */

.col-2{
    flex-basis: calc((100% /12) * 2);
}

/* debug */

.header-page{
    background-color: #3161E0;
    padding: 20px;
}

.debug main [class^='col-'] {
	min-height: 200px;
	padding: 20px;
	border: 2px dashed black;
}

.debug main section {
}

.debug .footer-page{
    background-color: black;
    padding: 20px;
}

.debug footer [class^='col-']{
	min-height: 300px;
	padding: 20px;
	border: 2px dashed white;
} 



.debug footer .col-4{
    background-color: #F08080;
}

.debug footer .col-2 {
    background-color: #20B2AA;
}


.debug .container-sm{
    background-color:#EE82EE ;
}



.debug footer .col{
    background-color: #7FFFD4;
    border: 2px dashed black;
    padding: 20px;
}

.debug main .col-8 {
	background-color: #1e90ff;
}

.debug main .col-4 {
	background-color: #ffc0cb;
}

.debug .large .col-12{
    background-color: green;
    min-height: 450px;
}

.debug .bg-gray{
    background-color: #D3D3D3;
}













